@import "tailwindcss";
@plugin "daisyui/index.js";

@theme {
  --color-primary: #cc785c;
  --color-primary-active: #a9583e;
  --color-primary-disabled: #e6dfd8;
  --color-error: #c64545;
  --color-canvas: #faf9f5;
  --color-surface-card: #efe9de;
  --color-surface-dark: #181715;
  --color-primary-focus: #a9583e;
}
